/* Стилизация кнопки */
.button {
  border-radius: 8px;
  padding: 15px 66px 14px;
  background: none;
  border: none;
  color: var(--white);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/*primary*/
.button_primary {
  background: var(--blue-2);
  transition: opacity 200ms ease-in-out;
}

.button_primary:hover {
  background: var(--blue-3);
}

/*secondary*/
.button_secondary {
  background: var(--purple);
}

.button_secondary:hover {
  background: var(--purple-2);
}

/*alternate*/

.button_alternate {
  border: 1px solid var(--grey-3);
  color: var(--grey-4);
}

.button_alternate:hover {
  color: var(--grey-4);
  border: 1px solid var(--black);
}
